.text-area {
  bottom: 0;
  width: calc(100% - 60px);
  position: absolute;
  border: solid 1px #28a745;
  border-radius: 3px;
  resize: none;
  height: 80px;
  &:focus {
    box-shadow: 0 0 5px rgba(40, 167, 69, .36);
    outline: none;
  }
}

.send-btn {
  background-image: url(/assets/send.svg);
  background-size: 27px;
  width: 27px;
  height: 27px;
  position : absolute;
  right: 6px;
  bottom: 26px;
  cursor: pointer;
}
