<div class="mx-0 p-2 p-md-4 border rounded-sm h-100">
  <div class="position-relative h-100">
    <div #messagesScroll class="messages-scroll-container">
      <div class="messages-content">
        <div class="mt-2 p-2 fit-content-width message-bloc" *ngFor="let msg of chatMessages"
             [ngClass]="{'is-user-msg': msg.userId === userId}">
          <span class="upper-chat-block">
            <span class="author-def">{{msg.pseudo}}</span>
            <span class="mx-2 date-text">{{msg.dateTime}}</span>
          </span>
          <div class="fit-content-width message-text">{{msg.message}}</div>
        </div>
      </div>
    </div>
    <label>
      <textarea (keyup.enter)="sendMessage()" [(ngModel)]="message" autofocus class="text-area"></textarea>
    </label>
    <div (click)="sendMessage()" class="send-btn"></div>
  </div>
</div>
