.text-area {
  bottom: 0;
  width: calc(100% - 60px);
  position: absolute;
  border: solid 1px #28a745;
  border-radius: 3px;
  resize: none;
  height: 80px;
  &:focus {
    box-shadow: 0 0 5px rgba(40, 167, 69, .36);
    outline: none;
  }
}

.fit-content-width {
  width: fit-content;
  width: -moz-fit-content;
}

.send-btn {
  background-image: url(/assets/send.svg);
  background-size: 27px;
  width: 27px;
  height: 27px;
  position : absolute;
  right: 6px;
  bottom: 26px;
  cursor: pointer;
}
.messages-scroll-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 110px);
  overflow-y : auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .messages-content {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    .message-bloc {
      border-radius: 3px;
      background-color: rgba(0, 128, 0, .08);
      .date-text {
        font-size: 11px;
        color: #545b62;
      }
      .author-def {
        font-size: 12px;
        font-weight : 600;
      }
      .message-text {
        font-size: 13px;
      }
    }
  }
}
