.text-area {
  bottom: 0;
  width: calc(100% - 60px);
  position: absolute;
  border: solid 1px #28a745;
  border-radius: 3px;
  resize: none;
  height: 80px;
  &:focus {
    box-shadow: 0 0 5px rgba(40, 167, 69, .36);
    outline: none;
  }
}

.loader {
  background-image: url(/assets/dual-loader.svg);
  background-size: 60px;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: .8;
}

.new-messages {
  position: absolute;
  font-size: 13px;
  color: white;
  background: #005800;
  border: none;
  border-radius: 12px;
  padding: 1px 30px  1px 10px;
  transform: translateX(-50%);
  left: 50%;
  i.chev-down-icn {
    background-image: url(/assets/chevron-double-down.svg);
    background-size: 20px;
    width: 20px;
    height: 20px;
    right: 6px;
    position: absolute;
  }
}

.fit-content-width {
  width: fit-content;
  width: -moz-fit-content;
}

.send-btn {
  background-image: url(/assets/send.svg);
  background-size: 24px;
  width: 24px;
  height: 24px;
  position : absolute;
  right: 6px;
  bottom: 28px;
  cursor: pointer;
  transform: rotateZ(-23deg);
}

.writer-box {
  font-size: 13px;
  line-height: 26px;
  color: #545b62;
}

.messages-scroll-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 110px);
  overflow-y : auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .messages-content {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    position: relative;
    .message-bloc {
      border-radius: 3px;
      background-color: rgba(0, 128, 0, .08);
      &.is-user-msg {
        position: relative;
        left: 100%;
        transform: translateX(-100%);
        .upper-chat-block {
          justify-content: flex-end;
          .author-def {
            color: rgb(0, 88, 0);
          }
        }
      }
      .upper-chat-block {
        display: flex;
        .date-text {
          font-size: 11px;
          color: #545b62;
          line-height: 18px;
        }
        .author-def {
          font-size: 12px;
          font-weight : 600;
        }
      }
      .message-text {
        font-size: 13px;
      }
    }
  }
}
