<div class="mx-0 p-2 p-md-4 border rounded-sm">
  <label>Rooms</label>
  <div>
    <app-paginator [totalResult]="totalRooms" (selectedPageEvent)="selectPage($event)"></app-paginator>
    <table *ngIf="roomList?.length > 0" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Created By</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of roomList">
          <td>{{room.name}}</td>
          <td>{{room.createdBy}}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="roomList?.length === 0"><small>Rooms list is empty</small></p>
  </div>
</div>
