<form [formGroup]="createRoomForm"
      (ngSubmit)="validateCreation()"
      class="mx-0 p-2 p-md-4 border rounded-sm">
  <div class="form-group">
    <label for="roomName">Room name</label>
    <input [ngClass]="{'is-invalid': createRoomForm.dirty && createRoomForm.invalid}"
           formControlName="roomName"
           minlength="6"
           maxlength="20"
           type="text"
           class="form-control"
           id="roomName"
           aria-describedby="roomName">
    <small [ngClass]="createRoomForm.dirty && createRoomForm.invalid ? 'text-danger':'text-muted'"
           id="pseudoHelp"
           class="form-text">
      Your room name must be 8-20 characters long.
    </small>
  </div>
  <button [disabled]="createRoomForm.invalid" type="submit" class="btn btn-dark">Create</button>
</form>
